# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages
* List some commonly used libraries
* List popular data science tools
* Others

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Sckikit Learn
5. Amongst others

|Data Science Tools|
|------------------|
|Jupyter Lab|
|VS Code|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hrs = hrs/60
print(hrs," hours")

3.3333333333333335  hours

## Author
Sergio Mendez